body{
	margin: 40px;
	color:  #555555;

}
h1{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.resumen-bio{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px:
}
.photo-bio{
		width: auto;
    max-width: 50%;
    height: auto;
		display: block;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
}
.container-bio{
	text-align: center;
	margin: 50px;

}
.links-to-sn{
	display: block;
	margin: 50px;

}
