
.section-title-form{
color: #CA7173;
}
.contact-section{
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;

}
.contact-introduction{
text-align: center;
}
.form-contact{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-child, .boton {
	margin:10px 0;
}
.form-child {
	width: 75%;
}
@media all and (min-width:500px) {
	.form-child{
		width: 60%;
	}
}
@media all and (min-width:700px) {
	.form-child{
		width: 40%;
	}
}
input, textarea{
border-radius: 5px;
border: none;
box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset;
background-color: #f5f5f5;
width: 100%;
font-family: inherit;
font-size: 90%;
padding-left: 5px;
box-sizing: border-box;
}
textarea {
	height: 10em;
}

input:focus, textarea:focus{
outline:1px solid #CA7173;
border-radius: 5px;
-webkit-appearance: none;

}

.boton{
	background-color: #CA7173;
	color: #fff;
	padding: 0 0.8em;
	border-radius: 0.33em;
}
input[type='submit']{
	font: inherit;
	font-size: 15px;
	font-weight: bold;
	border: none;
  outline: 0;
	line-height: 1.8;

}
