body {
margin: 0;
padding: 0;
}

/*CABECERA*/
.cabecera-nombre {
	font-size: 40px;
padding: 0;
}
.introduccion{
	top:50px;
text-align: center;
margin-bottom: 40px;
}
.cabecera-full  {
text-align: center;
margin-top: 50px;
}
.logo-cabecera {
width: 50%;
height: auto;
}

.menu-principal{
position: fixed;
z-index: 10000;
width: 100%;
top: -18px;
background: white;
display: inline-block;
padding-top: 16px;
}
.menu-principal ul{
list-style-type: none;
text-align: center;
float:right;
}
.menu-principal li {
display: inline-block;
text-align: center;
margin: 0 10px 0 0;
}
.menu-principal li a {
color:grey;
text-decoration: none;
display: block;
}
.menu-principal li ul {
display: none;
position: absolute;
padding: 1%;
}
.menu-principal li:hover ul{
display:block;
}
.menu-principal li ul li{
display: block;
background-color: white;
padding: 4px;
}
.menu-principal li a:hover {
color: #995B5B;
font-weight:bold;
}
.introduccion a {
text-decoration: none;
color:black;
}
.introduccion a:hover {
text-decoration: none;
color: #650707;

}


/*SECCIÓN DE IMÁGENES 10/11*/

.photos-section {
	height: auto;
	/*border-radius: 10px;
	background-color: #FFFBCB;
	padding: 0 20px;
	box-shadow: 2px 1px 1px #FFB2C9;
	color: #640707;
	/*align-items: center;
	justify-content:space-around;*/
}

.person {
	display: flex;
	flex-wrap: wrap;
	border-radius: 10px;
	padding: 0 20px;
	background-color: #FFB29C;
	box-shadow: 2px 1px 1px #FFB2C9;
	color: #640707;
	align-items: center;
	justify-content: space-around;
	list-style: none;

}

.per-flex {
	margin-top: 30px;
	margin-bottom: 30px;
}
.per-flex + .per-flex {
		display: table-cell;
    vertical-align: top;
    padding: 0 10px;

}

.small-pic {
	height: 200px;
	width: 150px;
	border-radius: 50%;
	border-style: groove;
}

.photo {
	width: auto;
}
/*Texto resumen pie de foto*/
.resumen {
	color: #555555;
	height: 200px;
	width: 150px;
	text-align: center;
}

.elemento + .elemento{ /*cuando haya un elemenyo dsps de otro*/
	margin-left: 30px;
}
/*Colores paleta 640707; FFFBCB; FFB2C9; 7AB9CC; 74A4B2*/

.section-2 {
color:#555555;
margin-right: 30px;
margin-left: 30px;
margin-top: 20px;
background-color: pink;
padding: 30px;
}

hr {
	border-color: #FFB2C9;
	border-style: solid;
	border-style: 1px;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

footer {
	display: inline-flex;
	background-color: rgb(116, 164, 178);
	position: relative;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
	width: 100%;
	height: 150px;
	left: 0px;
	bottom: 0px;
}
.logo-cell {
	background-color: white;
	display: inline-flex;
	width: 70px;
	height: auto;
}
.logo-nuestro {
	width: 100%;
	height: auto;
}
.link-footer {
	display: inline-flex;
	color:#555555;
	width: 100%;
	height: auto;
	position: relative;
}
.logo-adalab {
	width: 100%;
	height: auto;
	position: relative;
}
.list-footer {
	display: inline-flex;
	text-align: center;
}

.secondline {
	position: relative;
	left: 65%;
	display: inline;
}

.lastphoto {
	position: relative;
	display: inline;
	margin-left: 50%;
}
