.resumen {
	color: #555555;
	width: 200px;
	text-align: center;
}
.line {
	display: inline-block;
	width: 25%;
	margin-bottom: 10px;
	/*float: right;*/
	border: black;

}
/*.full_image{
	display: table;
}*/
img {
	width: 200px;
	height: 150px;
	border: 50;
}

.line .line2{

}
