body {
	font-family:"Montserrat", "Verdana";
  font-size: 15px;
	background-color: #f0f0ee;
	color:#000;
}

.fixedTitle {
	width: 100%;
	height: 70px;
	background-color: #f0f0ee;
	color: #000;
	position: fixed;
	top: 0;
	right: 0;
}

h1, h2, h3 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p, li {
	text-align: justify;
}

.flexContainer{
	background-color: #640707;
	color: #f0f0ee;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	height: 500px;
	margin: 0;
	padding: 0;
}

.flexItem {

}

.resumen-bio {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	text-align: center;

}
.photo-bio {
		width: auto;
    max-width: 70%;
    height: auto;
		display: block;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
}

.container-bio {
	text-align: center;
	margin: 50px;
}

.roles {
	margin: 50px;
}

.links-to-sn{
	display: block;
	margin: 50px;
}

#aida {
	/*position: relative;*/
}
