body {
	font-family:'Catamaran', 'Arial';
  font-size: 18px;
	background-color: #f0f0ee;
	color:#000;
	margin-top: 90px;
}

/*title header*/
.fixedTitle {
	width: 100%;
	height: 90px;
	background-color: #f0f0ee;
	color: #000;
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
}

h1, h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p, li {
	text-align: justify;
}


.links-to-sn a {
	margin: 17px;
}

/*bio and photo container*/
.container {
	display: flex;
	flex-wrap: nowrap;
	background-color: #640707;
	color: #f0f0ee;
	height: 600px;
	align-items: center;
	justify-content: space-around;
	border-radius: 4px;
}

/*text container*/
.flexContainerText {
	background-color: rgba(240, 240, 238, 0.4);
	color: #f0f0ee;
	width: 450px;
	border-radius: 4px;
}

/*biografy container*/
.container-bio {
	text-align: center;
	margin: 4% 7% 3% 13%;
	width: 70%;
	height: 250px;
	overflow-y: auto;
	padding: 10px;
	border: solid 2px;
	border-color: #640707;
}

.photo-bio {
    width: 90%;
}

.roles {
	margin: 4% 7% 3% 13%;
	width: 70%;
	padding: 10px;
}

/*Links to networks*/
.links-to-sn {
	display: flex;
	justify-content: center;
}

.resumenBio {
	text-align: center;
	padding-left: 7px;
	padding-right: 14px;
}

@media all and (max-width:850px) {
	.container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		background-color: #640707;
		color: #f0f0ee;
		height: 600px;
		align-items: center;
		border-radius: 4px;
	}

	p {
		font-size: .9em;
	}

	h1 {
		font-size: 30px;
	}

	.flexContainerText {
		width: 350px;
	}

}
