body {
	font-family:"Montserrat", "Verdana";
  font-size: 15px;
	background-color: #f0f0ee;
	color:#000;
}

.fixedTitle {
	width: 100%;
	height: 70px;
	background-color: #f0f0ee;
	color: #000;
	position: fixed;
	top: 0;
	right: 0;
}

h1, h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p, li {
	text-align: justify;
}

.container {
	margin-top: 70px;
	display: flex;
	background-color: #640707;
	color: #f0f0ee;
	height: 450px;
}

.flexContainerTexto {
	margin-left: 90px;
	margin-top: 150px;
	align-items: center;
	width: 40%;
	height: 170px;
	background-color: rgba(240, 240, 238, 0.4);
	color: #f0f0ee;
}

.flexContainerPhoto {
	align-items: center;
	flex-wrap: nowrap;
	width: 50%;
	height: 200px;
	justify-content: flex-end;

}

.resumen-bio {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	text-align: center;

}
.photo-bio {
    max-width: 70%;
    height: auto;
		display: block;
		margin-top: 65px;
    margin-left: auto;
		margin-right: 50px;
}

.container-bio {
	text-align: center;
	margin: 4% 7% 3% 13%;
	width: 70%;
	height: 250px;
	overflow-y: auto;
	padding: 10px;
	border: dotted 2px;
	border-color: #640707;
}

.roles {
	margin-left: 10%;
	margin-right: 13%;
}

.links-to-sn{
	display: block;
	margin: 50px;
}
