body {
  font-family:"Montserrat", "Verdana";
  font-size: 15px;
  background-color: rgba(33, 173, 177, 0.17);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

img {
    display: block;
    margin-left: 100px;
}

.nameRol {
  color: #555555;
  margin-bottom: 70px;
}
